<li>
  <p class="title">
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p class="content">
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <%= link_to "Show this post", post %>
  </p>
</li>
