<p id="notice"><%= notice %></p>

<h1>Post</h1>

<div id="posts">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="title">
    Sort by title
  </button>

  <ul class="list">
    <%= render @posts %>
  </ul>
</div>

<%= link_to "New post", new_post_path %>
